@charset "UTF-8";
* {
  font-family: "微軟正黑體";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #004f77;
}

.en {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: #00283b;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 4px;
  margin: 10px 0;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 46px 0;
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

h5 {
  font-size: 10px;
  margin-top: 0;
  letter-spacing: 2px;
  font-family: "Quicksand", sans-serif;
}

p {
  font-size: 14px;
}

nav #navBar {
  z-index: 99;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  -webkit-transition: top 1s;
  transition: top 1s;
  /* Transition effect when sliding down (and up) */
}

nav #navBar .page {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #004f77;
  padding: 0px 25px;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

nav #navBar .page p {
  margin: 20px 0;
}

nav #navBar .page:hover {
  background-color: rgba(255, 255, 255, 0.63);
}

nav #navBar.scrolled {
  background-color: rgba(255, 255, 255, 0.753) !important;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

#home {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #004f77;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 5%;
  bottom: 7%;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99;
}

#home::after {
  content: "HOME";
  font-size: 10px;
  width: 0;
  height: 0;
  color: white;
  position: absolute;
  top: 60%;
  left: 25%;
}

#home i {
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
  position: relative;
}

#home:hover {
  opacity: 1;
}

#banner .container {
  width: 100%;
  height: 100vh;
  background-image: url(./img/The_heart_reef,_part_of_the_Great_Barrier_Reef_near_Airlie_Beach,_Whitsunday_Islands,_Queensland.jpg);
  background-size: cover;
  background-position: right;
}

#banner .container .title {
  color: white;
  position: absolute;
  top: 70%;
  left: 8%;
}

.section_1 .container {
  width: 100%;
  height: auto;
  margin-top: 160px;
}

.section_1 .container .row {
  width: 90%;
  margin-left: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_1 .container .row .imgSide {
  width: 60%;
  color: #333333;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 150%;
}

.section_1 .container .row .imgSide img {
  width: 100%;
}

.section_1 .container .row .textSide {
  width: 35%;
  color: #333333;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 150%;
}

.section_2 .container {
  width: 90%;
  height: auto;
  margin: 160px auto;
}

.section_2 .container img {
  width: 100%;
}

#sitemap .container {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
}

#sitemap .container .leftSide {
  width: 50%;
}

#sitemap .container .leftSide .link {
  width: 40%;
  margin-left: 200px;
  text-align: center;
}

#sitemap .container .leftSide .link a {
  color: black;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
}

#sitemap .container .rightSide {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sitemap .container .rightSide .info {
  width: 60%;
  border: 2px black solid;
  margin-right: auto;
}

#sitemap .container .rightSide .info .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sitemap .container .rightSide .info .row .logo {
  width: 50%;
  border-right: solid black 2px;
  background-color: #004f77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sitemap .container .rightSide .info .row .logo img {
  width: 70%;
  margin: auto;
}

#sitemap .container .rightSide .info .row .address {
  padding: 20px;
}

#sitemap .container .rightSide .info .row .address h4 {
  color: black;
  font-size: 24px;
}

#sitemap .container .rightSide .info .socialmedia {
  border-top: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#sitemap .container .rightSide .info .socialmedia .fa-instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(#405de6), color-stop(#5851db), color-stop(#833ab4), color-stop(#c13584), color-stop(#e1306c), color-stop(#fd1d1d), color-stop(#f56040), color-stop(#f77737), color-stop(#fcaf45), to(#ffdc80));
  background: linear-gradient(to bottom, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  width: 100%;
  background-color: #004f77;
  text-align: center;
}

footer p {
  color: white;
  margin: 0;
  padding: 20px 0;
}
/*# sourceMappingURL=heartreef.css.map */