h1 {
  font-size: 50px;
  color: white;
  font-family: "手札體";
  margin: 0;
}

h2 {
  font-size: 30px;
  font-family: "手札體";
}

h3 {
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 10px;
  margin-left: 10px;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  color: white;
  margin: 0;
}

// html {
//     box-sizing: border-box;
// }

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

// Banner + Introduction
.container {
  width: 100%;
  height: 200vh;

  .backImg {
    width: 100%;
    height: 200vh;
    background-image: url(./img/banner);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    #banner {
      width: 100%;
      height: 100vh;

      .title {
        position: absolute;
        top: 30%;
        left: 30%;

        h3 {
          position: relative;

          &::after {
            content: "";
            width: 60px;
            height: 60px;
            background-image: url(./img/kangaroo.png);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            right: -20%;
            top: -230%;
            z-index: 99;
          }
        }
      }
    }

    #intro {
      width: 100%;
      // position: relative;
      margin-top: 20%;
      padding: 0 100px;
      display: flex;

      .img {
        width: 40%;
        margin-left: 100px;

        img {
          width: 90%;
          box-shadow: 10px 5px 5px rgb(21, 34, 46);
        }
      }

      article {
        width: 30%;
        margin-right: 150px;
        text-align: justify;

        .mobileText {
          display: none;
        }
      }
    }
  }
}

// Hot Spot
#hotSpot {
  .container {
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
    z-index: -1;

    .imgContent {
      width: 100%;
      display: flex;
      margin-left: 40px;

      .img {
        width: 34%;
        height: 80vh;
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 80vh;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          transition: 1s;
        }
        &:hover:before {
          content: "";
          width: 100%;
          height: 80vh;
          background-color: rgba(0, 0, 0, 0);
          position: absolute;
        }

        .circle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 200px;
          // text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border: white 1px solid;
          border-radius: 50%;

          .text {
            font-size: 30px;
            color: white;
          }
        }
      }

      .imgL {
        background-image: url(./img/8984916085_8aa40d3c93_b.jpg);
        background-size: cover;
        background-position-x: 70%;
      }

      .imgM {
        background-image: url(./img/Heart-Reef-Australia-Great-Barrier-Reef-1649218.jpg);
        background-size: cover;
        background-position-x: 30%;
      }

      .imgR {
        background-image: url(./img/41377696761_072da3cb27_k.jpg);
        background-size: cover;
        background-position-x: 70%;
      }
    }
  }
}

// activity
#activity {
  .container {
    width: 100%;
    height: 100vh;
    // background-image: url(./img/Artboard.png);
    // background-size: cover;
    // background-position: center;
    background-color: rgb(21, 34, 46);
    position: relative;

    &.opacity {
      &::before {
        content: "";
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
      }
    }

    #allActivity {
      width: 70%;
      height: 80vh;
      margin: 0 auto;
      padding-top: 10vh;
      // padding-left: 90px;
      overflow: hidden;
      position: absolute;
      left: 20%;
      cursor: pointer;

      .row {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-grow: 1;

        .img {
          width: 100%;
          height: 40vh;
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 40vh;
            position: absolute;
            background-color: rgba(37, 37, 37, 0.308);
            transition: 1s;
          }

          &:hover:before {
            content: "";
            width: 100%;
            height: 40vh;
            position: absolute;
            background-color: rgba(255, 255, 255, 0);
          }

          img {
            width: 100%;
          }

          p {
            font-size: 24px;
            color: white;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .activityTL {
          width: 100%;
          height: auto;
          background-image: url(./img/GSL_Aviation_Reef_and_Island_Scenic_Flight_lg.jpg);
          background-size: cover;
          background-position: center;
        }

        .activityTM {
          width: 100%;
          height: auto;
          background-image: url(./img/gslmarinewhitsundays-1500x975-1046x680.jpg);
          background-size: cover;
          background-position: center;
        }

        .activityTR {
          width: 100%;
          height: auto;
          background-image: url(./img/sea-boat-ship-vehicle-mast-sailing-269925-pxhere.com.jpg);
          background-size: cover;
          background-position: center;
        }

        .activityBL {
          width: 100%;
          height: auto;
          background-image: url(./img/2545519248_7c7ef4c343_c.jpg);
          background-size: cover;
          background-position: center;
        }

        .activityBM {
          width: 100%;
          height: auto;
          background-image: url(./img/30104761095_e9457fe4fd_c.jpg);
          background-size: cover;
          background-position: center;
        }

        .activityBR {
          width: 100%;
          height: auto;
          background-image: url(./img/Scuba-Diving-in-South-Caicos.jpg);
          background-size: cover;
          background-position: center;
        }
      }
    }

    .lightBox {
      width: 80%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      z-index: 99;
      display: none;

      &.open {
        display: block;
      }

      .back {
        width: 100%;
        height: 50vh;
        // background-image: url(./img/GSL_Aviation.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .title {
          width: 50%;
          height: 20vh;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.377);
          top: 30%;
          right: 0;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 32px;
            letter-spacing: 2px;
            // padding-left: 10%;
          }
        }
      }
      .info {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;

        .logo {
          width: 20%;
          padding: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 80%;
          }
        }
        .textarea {
          width: 70%;
          letter-spacing: 2px;
        }
      }
    }

    #flight {
      background-color: white;

      .back {
        background-image: url(./img/GSL_Aviation.jpg);
      }
    }

    #ship {
      background-color: rgb(139, 197, 62);
      color: white;

      .back {
        background-image: url(./img/cruise-whitsundays-activity-platform.jpg);
      }
    }

    #sailing {
      background-color: rgb(21, 36, 76);
      color: white;
      .back {
        background-image: url(./img/S__9699345.jpg);
        background-position: center;
      }
    }

    #skydiving {
      background-color: rgb(26, 131, 197);
      color: white;
      .back {
        background-image: url(./img/IMG-4766.jfif);
      }
    }

    #jetski {
      background-color: rgb(252, 240, 1);

      .back {
        background-image: url(./img/jetski.jpg);
      }
    }

    #scubadiving {
      background-color: #0095d7;
      color: white;
      .back {
        background-image: url(./img/Diving.jpg);
        background-position: right;
      }
    }
  }
}

// Food
#food {
  .container {
    width: 100%;
    height: auto;

    .title {
      text-align: center;
      // margin-left: 90px;
      margin: 50px 0 50px 90px;
    }

    .foodContent {
      width: 100%;
      display: flex;

      .leftSide {
        width: 30%;
        position: relative;

        .arrow {
          width: 60px;
          position: absolute;
          right: 30%;
          top: 20%;

          .go {
            width: 60px;
            height: 60px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px 0;
            cursor: pointer;

            img {
              width: 50%;
            }
          }

          .pagination_top {
            text-align: center;
            color: chocolate;
            font-family: "Raleway", sans-serif;
            font-size: 1.2rem;
            line-height: 1.8;
          }
        }

        &::after {
          content: "";
          width: 450px;
          height: 380px;
          background-color: rgb(245, 199, 169);
          position: absolute;
          right: -20%;
          z-index: -1;
          // top: 0;
        }
      }

      .rightSide {
        width: 70%;
        margin-top: 50px;

        .items {
          width: 100%;
          display: flex;
          // flex-grow: 1;
          white-space: nowrap;
          cursor: pointer;
          transition: all 0.2s;
          transform: scale(0.98);
          will-change: transform;
          position: relative;
          overflow: hidden;

          .item {
            margin: 0 10px;
            width: 250px;
            height: auto;
            background-color: chocolate;
            transform: translateX(-300px);

            img {
              // width: 100%;
              width: inherit;
            }

            .textarea {
              width: 100%;
              height: 120px;
              color: white;
              padding: 10px 20px;
              box-sizing: border-box;

              h4 {
                font-weight: 300;
              }

              .price {
                text-align: right;
              }
            }

            .active {
              cursor: grabbing;
              cursor: -webkit-grabbing;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

// Hostle
#hostle {
  overflow-x: hidden;
  .hostle_container {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-left: 80px;

    .title {
      text-align: center;
      // margin-left: 90px;
      margin: 200px 0 50px -80px;
    }

    .hostleContent {
      width: 100%;
      height: 400px;
      display: flex;
      overflow-x: hidden;

      .leftSide {
        width: 70%;
        margin-top: 50px;

        .items_hostle {
          width: 100%;
          display: flex;
          // flex-grow: 1;

          white-space: nowrap;
          cursor: pointer;
          transition: all 0.2s;
          transform: scale(0.98);
          will-change: transform;
          position: relative;
          overflow: hidden;

          .item {
            margin: 0 10px;
            width: 250px;
            height: auto;
            background-color: rgb(128, 168, 89);
            transform: translateX(-300px);

            img {
              // width: 100%;
              width: inherit;
            }

            .textarea {
              width: 100%;
              height: 120px;
              color: white;
              padding: 10px 20px;
              box-sizing: border-box;

              h4 {
                font-weight: 300;
              }

              .price {
                text-align: right;
              }
            }

            .active {
              cursor: grabbing;
              cursor: -webkit-grabbing;
              transform: scale(1);
            }
          }
        }
      }

      .rightSide {
        width: 30%;
        position: relative;
        // overflow-x: hidden;

        .arrow {
          width: 60px;
          position: absolute;
          left: 30%;
          top: 20%;

          .go {
            width: 60px;
            height: 60px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px 0;
            cursor: pointer;

            img {
              width: 50%;
            }
          }

          .pagination_bottom {
            text-align: center;
            color: #208039;
            font-family: "Raleway", sans-serif;
            font-size: 1.2rem;
            line-height: 1.8;
          }
        }

        &::after {
          content: "";
          width: 450px;
          height: 380px;
          background-color: rgb(171, 196, 140);
          position: absolute;
          left: -20%;
          z-index: -1;
          // top: 0;
        }
      }
    }
  }
}

#transfer {
  .transfer_container {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    background-color: rgb(21, 34, 46);
    // background-image: url(./img/Artboard.png);
    box-sizing: border-box;

    .title {
      text-align: center;
      margin-left: 90px;

      h2 {
        color: whitesmoke;
      }
    }

    .content {
      margin-left: 100px;
      margin-top: 50px;
      display: flex;
      color: whitesmoke;

      .leftSide {
        width: 25%;
        text-align: center;
        color: gray;

        .tab {
          width: 50%;
          margin-top: 30px;
          cursor: pointer;
          transition: 0.8s;

          img {
            width: 100%;
          }
        }

        .plane.active {
          color: rgb(193, 255, 47);
          transform: scale(1.2);
          position: relative;

          &::after {
            content: "飛機";
            font-size: 22px;
            position: absolute;
            right: -20%;
            bottom: 35%;
          }
        }

        .train.active {
          color: rgb(168, 0, 8);
          transform: scale(1.2);

          &::after {
            content: "火車";
            font-size: 22px;
            position: absolute;
            right: -20%;
            bottom: 35%;
          }
        }

        .bus.active {
          color: rgb(0, 106, 206);
          transform: scale(1.2);

          &::after {
            content: "巴士";
            font-size: 22px;
            position: absolute;
            right: -20%;
            bottom: 35%;
          }
        }

        .taxi.active {
          color: rgb(224, 184, 4);
          transform: scale(1.2);

          &::after {
            content: "計程車";
            font-size: 22px;
            position: absolute;
            right: -30%;
            bottom: 35%;
          }
        }
      }

      .rightSide {
        width: 60%;

        .tabContent {
          display: none;

          .textarea {
            margin-bottom: 30px;
            h4 {
              position: relative;
              color: whitesmoke;
              margin-bottom: 14px;

              &::before {
                content: "";
                width: 20px;
                height: 20px;
                background-color: whitesmoke;
                border-radius: 50%;
                position: absolute;
                left: -5%;
                bottom: 15%;
              }
            }
          }
        }

        .tabContent.active {
          display: block;
        }
      }
    }
  }
}

// Site Map
#sitemap {
  .title{
    display: none;
  }
  .container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;

    .leftSide {
      width: 50%;

      .link {
        width: 40%;
        margin-left: 300px;
        text-align: center;
        a {
          color: black;
          font-size: 20px;
          line-height: 50px;
          font-weight: 600;
          padding: 0 10px;
        }
      }
    }

    .rightSide {
      width: 50%;
      box-sizing: border-box;
      .info {
        width: 60%;
        border: 2px black solid;
        margin: auto;
        .row {
          width: 100%;
          display: flex;

          .logo {
            width: 50%;
            border-right: solid black 2px;
            background-color: #004f77;
            display: flex;
            padding: 10px;
            box-sizing: border-box;

            img {
              width: 70%;
              margin: auto;
            }
          }

          .address {
            padding: 20px;
            h4 {
              color: black;
              font-size: 24px;
            }
          }
        }
        .socialmedia {
          border-top: black solid 2px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 20px;

          .fa-instagram {
            background: linear-gradient(
              to bottom,
              #405de6,
              #5851db,
              #833ab4,
              #c13584,
              #e1306c,
              #fd1d1d,
              #f56040,
              #f77737,
              #fcaf45,
              #ffdc80
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

// Footer
footer {
  width: 100%;
  background-color: #004f77;
  text-align: center;

  p {
    color: white;
    margin: 0;
    padding: 20px 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 100vh;
    .backImg {
      height: 100vh;
      overflow-y: hidden;
      #banner {
        height: 50vh;

        .title {
          top: 15%;
        }
      }

      #intro {
        height: 50vh;
      }
    }
  }

  #hotSpot {
    .container {
      height: 50vh;
      overflow-y: hidden;

      .imgContent {
        .img {
          height: 50vh;
        }
      }
    }
  }

  #activity {
    .container {
      height: 50vh;

      &.opacity {
        height: 50vh;
      }

      #allActivity {
        height: 40vh;
        padding-top: 5vh;

        .row {
          height: 20vh;

          .img {
            height: 20vh;
            &::before {
              height: 20vh;
            }

            &:hover:before {
              height: 20vh;
            }
          }
        }
      }

      .lightBox {
        .back {
          height: 25vh;

          .title {
            height: 12.5vh;

            p {
              font-size: 24px;
            }
          }
        }

        .info {
          height: 15vh;
        }
      }
    }
  }

  #food{
    .container{
      .foodContent{
        .rightSide{
          .items{
            .item{
              transform: translateX(-250px);
            }
          }
        }
      }
    }
  }

  #hostle{
    .hostle_container{
      .hostleContent{
        .leftSide{
        .items_hostle{
          .item{
            transform: translateX(-250px);
          }
        }
      }
      }
      
    }
  }

  #transfer {
    .transfer_container {
      min-height: 60vh;

      .content {
        font-size: 14px;
        .leftSide {
          .plane.active {
            &::after {
              font-size: 16px;
            }
          }

          .train.active {
            &::after {
              font-size: 16px;
            }
          }

          .bus.active {
            &::after {
              font-size: 16px;
            }
          }

          .taxi.active {
            &::after {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  #sitemap {
    .container {
      height: 30vh;

      .leftSide {
        .link {
          margin-left: 250px;
        }
      }

      .rightSide {
        .info {
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 44px;
  }
  h3 {
    font-size: 20px;
  }
  .container {
    .backImg {
      #banner {
        .title {
          left: 15%;

          h3 {
            &::after {
              width: 50px;
              height: 50px;
              right: -25%;
            }
          }
        }
      }

      #intro {
        width: 80%;
        padding: 0;
        margin: 0 auto;
        margin-top: 10%;

        .img {
          margin-left: 0;
          width: 50%;
        }

        article {
          width: 50%;
          margin-right: 0;
        }
      }
    }
  }

  #hotSpot {
    .container {
      height: 100vh;
      background-color: rgb(0, 103, 112);
      .imgContent {
        margin: 0;
        flex-flow: column;
        justify-content: space-between;
        height: 100vh;

        .img {
          width: 100%;
          height: 30vh;

          &::before {
            height: 30vh;
          }
          &:hover:before {
            height: 30vh;
          }

          .circle {
            width: 170px;
            height: 170px;
            .text {
              font-size: 26px;
            }
          }
        }
      }
    }
  }

  #activity {
    .container {
      #allActivity {
        width: 80%;
        left: 0;
        position: unset;
      }

      .lightBox {
        left: 50%;

        .back {
          .title {
            justify-content: center;
            p {
              font-size: 20px;
              padding-left: 0;
            }
          }
        }

        .info {
          .textarea {
            width: 80%;
            letter-spacing: unset;
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  #food {
    .container {
      .title {
        margin-left: 0;
      }

      .foodContent {
        .leftSide {
          width: 25%;
        }

        .rightSide {
          width: 75%;
        }
      }
    }
  }

  #hostle {
    .hostle_container {
      margin-left: 0;

      .title {
        margin: unset;
        margin-top: 150px;
      }
    }
  }

  #transfer {
    .transfer_container {
      .title {
        margin-left: 0;
      }

      .content {
        margin-left: 0;
        width: 90%;
        margin: 0 auto;
        font-size: 12px;

        .leftSide {
          .plane.active {
            &::after {
              font-size: 14px;
              right: -30%;
            }
          }

          .train.active {
            &::after {
              font-size: 14px;
              right: -30%;
            }
          }

          .bus.active {
            &::after {
              font-size: 14px;
              right: -30%;
            }
          }

          .taxi.active {
            &::after {
              font-size: 14px;
              right: -40%;
            }
          }
        }

        .rightSide {
          width: 70%;

          .tabContent {
            .textarea {
              h4 {
                &::before {
                  width: 15px;
                  height: 15px;
                }
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  #sitemap {
    .container {
      width: 90%;
      margin: 30px auto;

      .leftSide {
        width: 50%;
        .link {
          width: 100%;
          margin-left: 0;
        }
      }
      .rightSide {
        width: 50%;

        .info {
          width: 100%;
          .row {
            .address {
              h4 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 28px;
    text-shadow: 0.05em 0.05em 0.2em rgb(21, 34, 46);
  }

  h2 {
    font-size: 22px;
    font-family: "微軟正黑體";
    font-weight: 400;
    background-color: rgb(245, 199, 169);
    color: white;
    padding: 12px 60px 12px 30px;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0px 60px 30px;
      border-color: transparent transparent white transparent;
      position: absolute;
      bottom: 0%;
      right: 0%;
    }
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
  }

  .container {
    .backImg {
      #banner {
        .title {
          top: 50%;
          left: 45%;
          transform: translate(-50%, -50%);

          h3 {
            color: rgb(21, 34, 46);
            &::after {
              width: 40px;
              height: 40px;
              top: unset;
              bottom: 110%;
            }
          }
        }
      }

      #intro {
        .img {
          display: none;
        }
        article {
          width: 100%;
          margin-top: 15%;
          .webText {
            display: none;
          }

          .mobileText {
            display: unset;
          }
        }
      }
    }
  }

  #hotSpot {
    .container {
      .imgContent {
        .img {
          .circle {
            border-radius: unset;
            border-color: rgba(255, 255, 255, 0.445);
            height: 150px;
            width: 300px;
            .text {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  #food {
    .container {
      .title {
        text-align: left;
        margin: 0;
      }
      .foodContent {
        overflow: hidden;
        .leftSide {
          display: none;
        }
        .rightSide {
          width: 100%;
          margin-top: 0px;

          .items {
            .item {
              transform: translateX(-30px);
            }
          }
        }
      }
    }
  }

  #hostle {
    .hostle_container {
      margin-bottom: 0;
      .title {
        text-align: left;
        margin: 0;
        margin-top: 50px;

        h2 {
          background-color: rgb(171, 196, 140);
        }
      }

      .hostleContent {
        overflow: hidden;
        height: auto;

        .leftSide {
          width: 100%;
          margin-top: 0px;

          .items_hostle {
            .item {
              transform: translateX(-30px);
            }
          }
        }

        .rightSide {
          display: none;
        }
      }
    }
  }

  #transfer {
    .transfer_container {
      background-color: unset;
      .title {
        text-align: left;
        margin: 0;

        h2 {
          background-color: #0a6180;
        }
      }

      .content {
        display: unset;
        font-size: 16px;
        .leftSide {
          width: 100%;
          display: flex;
          flex-flow: wrap;

          .tab{
            margin: 0;
            height: 150px;
          }

          .plane{
            background-color: #0a6180;
            position: relative;

            i{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .plane.active{
            transform: unset;
            &::after{
              display: none;
            }
          }

          .train{
            background-color: #0a6180b4;
            position: relative;

            i{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .train.active{
            transform: unset;
            &::after{
              display: none;
            }
          }

          .bus{
            background-color: #0a6180b4;
            position: relative;

            i{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .bus.active{
            transform: unset;
            &::after{
              display: none;
            }
          }

          .taxi{
            background-color: #0a6180;
            position: relative;

            i{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .taxi.active{
            transform: unset;
            &::after{
              display: none;
            }
          }
        }
        .rightSide {
          display: none;
        }
      }
    }
  }

  #sitemap {
    margin-top: 30px;
    margin-bottom: 50px;

    .title{
      display: unset;
    
      h2 {
        background-color: #0a6180;
      }
    }
    .container {
      height: auto;
      width: 80%;
      display: unset;

      .leftSide{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        .link{
          text-align: unset;
          width: 100%;
          .row{
            width: fit-content;
            margin: auto;
          }
        }
      }

      .rightSide {
        width: 90%;
        margin: auto;
        .info {
          .row {
            .address{
              padding: 10px 15px;
              p{
                font-size: 12px;
              }
            }
          }
          .socialmedia {
            padding: 10px;
            .fab {
              font-size: 40px;
            }
          }
        }
      }
    }
  }

  footer{
    p{
      padding: 10px;
    }
  }
}
