@charset "UTF-8";
h1 {
  font-size: 50px;
  color: white;
  font-family: "手札體";
  margin: 0;
}

h2 {
  font-size: 30px;
  font-family: "手札體";
}

h3 {
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 10px;
  margin-left: 10px;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  color: white;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 200vh;
}

.container .backImg {
  width: 100%;
  height: 200vh;
  background-image: url(./img/banner);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.container .backImg #banner {
  width: 100%;
  height: 100vh;
}

.container .backImg #banner .title {
  position: absolute;
  top: 30%;
  left: 30%;
}

.container .backImg #banner .title h3 {
  position: relative;
}

.container .backImg #banner .title h3::after {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(./img/kangaroo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -20%;
  top: -230%;
  z-index: 99;
}

.container .backImg #intro {
  width: 100%;
  margin-top: 20%;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .backImg #intro .img {
  width: 40%;
  margin-left: 100px;
}

.container .backImg #intro .img img {
  width: 90%;
  -webkit-box-shadow: 10px 5px 5px #15222e;
          box-shadow: 10px 5px 5px #15222e;
}

.container .backImg #intro article {
  width: 30%;
  margin-right: 150px;
  text-align: justify;
}

#hotSpot .container {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  z-index: -1;
}

#hotSpot .container .imgContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

#hotSpot .container .imgContent .img {
  width: 34%;
  height: 80vh;
  position: relative;
}

#hotSpot .container .imgContent .img::before {
  content: "";
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

#hotSpot .container .imgContent .img:hover:before {
  content: "";
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}

#hotSpot .container .imgContent .img .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: white 1px solid;
  border-radius: 50%;
}

#hotSpot .container .imgContent .img .circle .text {
  font-size: 30px;
  color: white;
}

#hotSpot .container .imgContent .imgL {
  background-image: url(./img/8984916085_8aa40d3c93_b.jpg);
  background-size: cover;
  background-position-x: 70%;
}

#hotSpot .container .imgContent .imgM {
  background-image: url(./img/Heart-Reef-Australia-Great-Barrier-Reef-1649218.jpg);
  background-size: cover;
  background-position-x: 30%;
}

#hotSpot .container .imgContent .imgR {
  background-image: url(./img/41377696761_072da3cb27_k.jpg);
  background-size: cover;
  background-position-x: 70%;
}

#activity .container {
  width: 100%;
  height: 100vh;
  background-color: gray;
  position: relative;
}

#activity .container.opacity::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

#activity .container #allActivity {
  width: 70%;
  height: 80vh;
  margin: 0 auto;
  padding-top: 10vh;
  overflow: hidden;
  position: absolute;
  left: 20%;
  cursor: pointer;
}

#activity .container #allActivity .row {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#activity .container #allActivity .row .img {
  width: 100%;
  height: 40vh;
  position: relative;
}

#activity .container #allActivity .row .img::before {
  content: "";
  width: 100%;
  height: 40vh;
  position: absolute;
  background-color: rgba(37, 37, 37, 0.308);
  -webkit-transition: 1s;
  transition: 1s;
}

#activity .container #allActivity .row .img:hover:before {
  content: "";
  width: 100%;
  height: 40vh;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
}

#activity .container #allActivity .row .img img {
  width: 100%;
}

#activity .container #allActivity .row .img p {
  font-size: 24px;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#activity .container #allActivity .row .activityTL {
  width: 100%;
  height: auto;
  background-image: url(./img/GSL_Aviation_Reef_and_Island_Scenic_Flight_lg.jpg);
  background-size: cover;
  background-position: center;
}

#activity .container #allActivity .row .activityTM {
  width: 100%;
  height: auto;
  background-image: url(./img/gslmarinewhitsundays-1500x975-1046x680.jpg);
  background-size: cover;
  background-position: center;
}

#activity .container #allActivity .row .activityTR {
  width: 100%;
  height: auto;
  background-image: url(./img/sea-boat-ship-vehicle-mast-sailing-269925-pxhere.com.jpg);
  background-size: cover;
  background-position: center;
}

#activity .container #allActivity .row .activityBL {
  width: 100%;
  height: auto;
  background-image: url(./img/2545519248_7c7ef4c343_c.jpg);
  background-size: cover;
  background-position: center;
}

#activity .container #allActivity .row .activityBM {
  width: 100%;
  height: auto;
  background-image: url(./img/30104761095_e9457fe4fd_c.jpg);
  background-size: cover;
  background-position: center;
}

#activity .container #allActivity .row .activityBR {
  width: 100%;
  height: auto;
  background-image: url(./img/Scuba-Diving-in-South-Caicos.jpg);
  background-size: cover;
  background-position: center;
}

#activity .container .lightBox {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}

#activity .container .lightBox.open {
  display: block;
}

#activity .container .lightBox .back {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#activity .container .lightBox .back .title {
  width: 50%;
  height: 20vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.377);
  top: 30%;
  right: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#activity .container .lightBox .back .title p {
  font-size: 32px;
  letter-spacing: 2px;
  padding-left: 10%;
}

#activity .container .lightBox .info {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#activity .container .lightBox .info .logo {
  width: 20%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#activity .container .lightBox .info .logo img {
  width: 80%;
}

#activity .container .lightBox .info .textarea {
  width: 70%;
  letter-spacing: 2px;
}

#activity .container #flight {
  background-color: white;
}

#activity .container #flight .back {
  background-image: url(./img/GSL_Aviation.jpg);
}

#activity .container #ship {
  background-color: #8bc53e;
  color: white;
}

#activity .container #ship .back {
  background-image: url(./img/cruise-whitsundays-activity-platform.jpg);
}

#activity .container #sailing {
  background-color: #15244c;
  color: white;
}

#activity .container #sailing .back {
  background-image: url(./img/S__9699345.jpg);
  background-position: center;
}

#activity .container #skydiving {
  background-color: #1a83c5;
  color: white;
}

#activity .container #skydiving .back {
  background-image: url(./img/IMG-4766.jfif);
}

#activity .container #jetski {
  background-color: #fcf001;
}

#activity .container #jetski .back {
  background-image: url(./img/jetski.jpg);
}

#activity .container #scubadiving {
  background-color: #0095D7;
  color: white;
}

#activity .container #scubadiving .back {
  background-image: url(./img/Diving.jpg);
  background-position: right;
}

#food .container {
  width: 100%;
  height: auto;
}

#food .container .title {
  text-align: center;
  margin: 50px 0 50px 90px;
}

#food .container .foodContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#food .container .foodContent .leftSide {
  width: 30%;
  position: relative;
}

#food .container .foodContent .leftSide .arrow {
  width: 60px;
  position: absolute;
  right: 30%;
  top: 20%;
}

#food .container .foodContent .leftSide .arrow .go {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

#food .container .foodContent .leftSide .arrow .go img {
  width: 50%;
}

#food .container .foodContent .leftSide::after {
  content: "";
  width: 450px;
  height: 380px;
  background-color: #f5c7a9;
  position: absolute;
  right: -20%;
  z-index: -1;
}

#food .container .foodContent .rightSide {
  width: 70%;
  margin-top: 50px;
}

#food .container .foodContent .rightSide .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  will-change: transform;
  position: relative;
  overflow: hidden;
}

#food .container .foodContent .rightSide .items .item {
  margin: 0 10px;
  width: 250px;
  height: auto;
  background-color: chocolate;
}

#food .container .foodContent .rightSide .items .item img {
  width: inherit;
}

#food .container .foodContent .rightSide .items .item .textarea {
  width: 100%;
  height: 120px;
  color: white;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#food .container .foodContent .rightSide .items .item .active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#hostle {
  overflow-x: hidden;
}

#hostle .hostle_container {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  margin-left: 80px;
}

#hostle .hostle_container .title {
  text-align: center;
  margin: 200px 0 50px -80px;
}

#hostle .hostle_container .hostleContent {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

#hostle .hostle_container .hostleContent .leftSide {
  width: 75%;
  margin-top: 50px;
}

#hostle .hostle_container .hostleContent .leftSide .items_hostle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  will-change: transform;
  position: relative;
  overflow: hidden;
}

#hostle .hostle_container .hostleContent .leftSide .items_hostle .item {
  margin: 0 10px;
  width: 250px;
  height: auto;
  background-color: #80a859;
}

#hostle .hostle_container .hostleContent .leftSide .items_hostle .item img {
  width: inherit;
}

#hostle .hostle_container .hostleContent .leftSide .items_hostle .item .textarea {
  width: 100%;
  height: 120px;
  color: white;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hostle .hostle_container .hostleContent .leftSide .items_hostle .item .active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#hostle .hostle_container .hostleContent .rightSide {
  width: 30%;
  position: relative;
}

#hostle .hostle_container .hostleContent .rightSide .arrow {
  width: 60px;
  position: absolute;
  left: 30%;
  top: 20%;
}

#hostle .hostle_container .hostleContent .rightSide .arrow .go {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

#hostle .hostle_container .hostleContent .rightSide .arrow .go img {
  width: 50%;
}

#hostle .hostle_container .hostleContent .rightSide::after {
  content: "";
  width: 450px;
  height: 380px;
  background-color: #abc48c;
  position: absolute;
  left: -20%;
  z-index: -1;
}

#transfer .transfer_container {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  background-color: #b3c6d4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#transfer .transfer_container .title {
  text-align: center;
  margin-left: 90px;
}

#transfer .transfer_container .content {
  margin-left: 100px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1e4870;
}

#transfer .transfer_container .content .leftSide {
  width: 25%;
  text-align: center;
  color: gray;
}

#transfer .transfer_container .content .leftSide .tab {
  width: 50%;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#transfer .transfer_container .content .leftSide .tab img {
  width: 100%;
}

#transfer .transfer_container .content .leftSide .plane.active {
  color: #00224b;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  position: relative;
}

#transfer .transfer_container .content .leftSide .plane.active::after {
  content: "飛機";
  font-size: 22px;
  position: absolute;
  right: -20%;
  bottom: 35%;
}

#transfer .transfer_container .content .leftSide .train.active {
  color: #bc1c24;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#transfer .transfer_container .content .leftSide .train.active::after {
  content: "火車";
  font-size: 22px;
  position: absolute;
  right: -20%;
  bottom: 35%;
}

#transfer .transfer_container .content .leftSide .bus.active {
  color: #008fce;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#transfer .transfer_container .content .leftSide .bus.active::after {
  content: "巴士";
  font-size: 22px;
  position: absolute;
  right: -20%;
  bottom: 35%;
}

#transfer .transfer_container .content .leftSide .taxi.active {
  color: #e0b804;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#transfer .transfer_container .content .leftSide .taxi.active::after {
  content: "計程車";
  font-size: 22px;
  position: absolute;
  right: -30%;
  bottom: 35%;
}

#transfer .transfer_container .content .rightSide {
  width: 60%;
}

#transfer .transfer_container .content .rightSide .tabContent {
  display: none;
}

#transfer .transfer_container .content .rightSide .tabContent .textarea {
  margin-bottom: 30px;
}

#transfer .transfer_container .content .rightSide .tabContent .textarea h4 {
  position: relative;
  color: #0c3153;
  margin-bottom: 14px;
}

#transfer .transfer_container .content .rightSide .tabContent .textarea h4::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: -5%;
  bottom: 15%;
}

#transfer .transfer_container .content .rightSide .tabContent.active {
  display: block;
}

#sitemap .container {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sitemap .container .leftSide {
  width: 50%;
}

#sitemap .container .leftSide .link {
  width: 40%;
  margin-left: 300px;
  text-align: center;
}

#sitemap .container .leftSide .link a {
  color: black;
  font-size: 20px;
  line-height: 50px;
}

#sitemap .container .rightSide {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sitemap .container .rightSide .info {
  width: 60%;
  border: 2px black solid;
  margin: auto;
}

#sitemap .container .rightSide .info .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sitemap .container .rightSide .info .row .logo {
  width: 50%;
  border-right: solid black 2px;
  background-color: #5e5e5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sitemap .container .rightSide .info .row .logo img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#sitemap .container .rightSide .info .row .address {
  padding: 20px;
}

#sitemap .container .rightSide .info .row .address h4 {
  color: black;
  font-size: 24px;
}

#sitemap .container .rightSide .info .socialmedia {
  border-top: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#sitemap .container .rightSide .info .socialmedia .fa-instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(#405de6), color-stop(#5851db), color-stop(#833ab4), color-stop(#c13584), color-stop(#e1306c), color-stop(#fd1d1d), color-stop(#f56040), color-stop(#f77737), color-stop(#fcaf45), to(#ffdc80));
  background: linear-gradient(to bottom, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  width: 100%;
  background-color: #00718b;
  text-align: center;
}

footer p {
  color: white;
  margin: 0;
  padding: 20px 0;
}
/*# sourceMappingURL=index.css.map */